html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5f5f0;
}

body {
    color: #000;
    font-family: "courier new", monospace;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #b1b1b1;
}

header h1 {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #b1b1b1;
}

header nav {
    width: 100%;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    min-height: 30px;
    line-height: 32px;
    font-weight: bold;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #1681b9;
    padding-right: 1em;
    text-transform: uppercase;
}

header nav ul li:last-child a {
    padding-right: 0;
}

header nav ul li a.active{
    color: #8e8007;
}

header nav ul li a:hover {
    color:#8e8007;
}

div.wrapper {
    display: flex;
}

aside {
    width: 250px;
    margin: 0;
    padding: 0;
    border-right: 1px solid #b1b1b1;
}

main {
    flex: 1;
    padding: 15px;
}

footer {
    border-top: 1px solid #b1b1b1;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-size: 12px;
}

aside h2 {
    text-transform: uppercase;
}

aside h2,
main h2 {
    margin-top: 0;
    text-align: center;
}

main h3 {
    text-align: left;
}

aside h2,
main h2 {
    font-size: 20px;
}

aside h2 {
    padding-top: 15px;
}

aside nav {
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
}

aside nav ul {
    list-style-type: none;
    padding: 0 15px 15px 15px;
    margin: 0;
}

aside nav ul a {
    font-weight: bold;
    text-decoration: none;
}

aside .content {
    padding: 0px 15px 0px 15px;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}

a {
    color: #1681b9;
}

a:hover {
    color:#8e8007;
}

p {
    text-align: justify;
}

@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }

    aside {
        border-right: 0px;
        border-bottom: 1px solid #b1b1b1;
    }

    aside nav {
        border-bottom: 0px;
    }

    aside {
        width: 100%;
    }

    main {
        max-width: 100%;
    }
}

/* Helpers */
.mt-50px {
    margin-top: 50px;
}

.text-left {
    text-align: left !important;
}

.fw-bold {
    font-weight: bold;
}
/* /Helpers */

/* CRUD */
.movie-form form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.movie-form form label {
    font-weight: 700;
    display: block;
}

.movie-form form input,
.movie-form form select {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.movie-form form div {
    width: 100%;
    margin-bottom: 15px;
}

.movie-form form input[type=reset],
.movie-form form input[type=button] {
    width: 45%;
    background-color: #111;
    color: #fff;
    cursor: pointer;
}

.movie-form form input[type=reset]:hover,
.movie-form form input[type=button]:hover {
    color: #fb5;
}

.movie-form form input[type=reset] {
    float: left;
}

.movie-form form input[type=button] {
    float: right;
}

.movie-form .buttons {
    display: table;
}

.movie-table {
    margin-top: 50px;
}

.movie-table table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
}

.movie-table table th {
    background-color: #bbb;
    color: #000;
    border: 0px;
    border-collapse: collapse;
    padding: 0 1ch 0 1ch;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    text-align: left;
}

.movie-table table th:last-child {
    cursor: unset;
}

.movie-table table tr:nth-child(even) {
    background-color: #e7e7e7;
}

.movie-table table tr:nth-child(odd) {
    background-color: #f5f5f0;
}

.movie-table table tr:hover {
    background-color: #e1e9f2;
}

.movie-table table a {
    text-decoration: none;
}

.movie-table table td {
    border-collapse: collapse;
    padding: 0.8ch 1ch 0.8ch 1ch;
}

.movie-table  table.reference,
.movie-table  table.reference th,
.movie-table  table.reference td {
    border: 0px;
    padding: 0;
}
/* /CRUD */

/* HTML5 */
#drop-zone {
    width: 260px;
    height: 65px;
    border: 2px dashed #ccc;
    text-align: center;
}

#nje-logo {
    cursor: grab;
}

#nje-logo:active {
    cursor: grabbing;
}

.server-sent-events {
    height: 100px;
}

.server-sent-events p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
/* /HTML5 */
